# Ignore data files
tp24*
weathersets/results/*
weathersets/forecast_results/*
weathersets/hindcast_results/*
unseen_protocol/data/*

# Ignore running files
*.ipynb

#       Ignore testing files
console.ipynb
wset_test/